{% extends "sagittarius/sagittarius.html" %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block extra_acc_links %}
  <li><a href="#page_content">Skip to article</a></li>
{% endblock %}

{% block toc %}
<div class="toc">
  <div>Contents</div>
{{ article.content_html|safe }}
<!-- TODO media for alternate formats -->
{% if article.tags %}
  <div>Tags</div>
  <div class="tag_container">
  {% for t in article.tags.all %}
  <a class="tag" href="{{ t.get_absolute_url }}">{{ t.slug }}</a>
  {% endfor %}
  </div>
{% endif %}
</div>  <!-- toc -->
{% endblock %}

{% block content %}
<div class="article" id="page_content"><article>

{{ article.body_html|safe }}

<div class="footer"><footer class="fineprint">
<p>First published on <time datetime="{{ article.pub_date|date:'c' }}">
{{ article.pub_date|date:'l, F jS o - g:iA' }}</time>.
</p>
<p>Last modified on <time datetime="{{ article.mod_date|date:'c' }}">
{{ article.mod_date|date:'l, F jS o - g:iA' }}</time>.
</p>
</footer></div>

</article></div>  <!-- page_content -->
{% endblock %}

