<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% with favicon='sagittarius/img/lambda-16x16.png' %}
<link rel="icon" type="image/png"
      href="{{ request.scheme }}{% static favicon %}" />
{% endwith %}
{% with css='sagittarius/css/sagittarius.css' %}
<link rel="stylesheet" type="text/css"
      href="{{ request.scheme }}{% static css %}" />
{% endwith %}
<link rel="alternate" type="application/atom+xml"
      href="{{ atom.full_url }}" title="ATOM feed" />
<meta charset="utf-8" />
<meta name="description" content="{{ site.name }}" />
<meta name="author" content="{{ site.context.author }}" />
{% if site.context.style %}
<style>
{{ site.context.style }}
</style>
{% endif %}
{% block extra_headers %}
<!-- use JS only when it is needed
<script type="text/javascript" src="sagittarius.js"></script> -->
{% endblock %}
</head>
<body>

{% block page_top %}
{% endblock %}

{% block page_main %}
{% endblock %}

{% block page_bottom %}
{% endblock %}

</body>
</html>

