{% extends "sagittarius/sagittarius.html" %}

{% load sagittarius_tags %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block toc %}
<div class="toc">
{{ site.context.motd|safe }}
</div>  <!-- toc -->
{% endblock %}

{% block content %}
<h1>{{ site.name }}</h1>

{{ site.context.news|safe }}

<hr />

{% if article_list %}
{% list_articles %}
{% else %}
<p>There are no articles yet, check often.</p>
{% endif %}

{% endblock %}

