{% extends "sagittarius/sagittarius.html" %}

{% block title %}
{{ section.title }}
{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>

<p>{{ section.description }}</p>

<hr />

{% if article_list %}
<ul class="object_list">
  {% for a in article_list %}
  <li><a href="{{ a.get_absolute_url }}">{{ a.title }}</a>
    <div>{{ a.excerpt_html|safe }}</div>
    {% if a.tags %}
    <div>
      {% for t in a.tags.all %}
      <a class="tag" href="{{ t.get_absolute_url }}">{{ t.slug }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
  {% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
  <a class="page_nav"
     href="?page={{ page_obj.previous_page_number }}">&lt; previous</a>
    {% endif %}
  <span class="page_of">
    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </span>
    {% if page_obj.has_next %}
  <a class="page_nav"
     href="?page={{ page_obj.next_page_number }}">next &gt;</a>
    {% endif %}
</div>
  {% endif %}
{% else %}
<p>There are no articles in this section yet, check often.</p>
{% endif %}

{% endblock %}

