{% extends "sagittarius/base.html" %}

{% load staticfiles %}
{% load sagittarius_tags %}

{% block page_top %}
<div class="header" id="page_top"><header>

<div id="accessibility_links">
<ul>
{% block extra_acc_links %}
{% endblock %}
  <li><a href="#page_main">Skip to content</a></li>
  <li><a href="#nav">Skip to navigation</a></li>
</ul>
</div>

<div class="topl">
<div class="terminal_logo">
{{ site.context.logo|safe }}
</div>
</div>

<div class="topr">
<div class="search_box">
<div class="qsearch">
<form method="get" action="{% url 'sagittarius_search' %}">
  <input type="text"  size="30"
         name="query" id="id_query" value="" placeholder="type your query" />
  <input type="hidden" id="id_search_title" name="search_title" value="on" />
  <input type="hidden" id="id_search_body"  name="search_body"  value="on" />
  <input type="submit" value="Quick Search" />
</form>
</div>
<p><a href="{% url 'sagittarius_search' %}"
      title="Advanced Search Options">Advanced Search</a></p>
<p><a href="{% url 'sagittarius_atom' %}" title="Atom Feed">
Atom Feed
{% with feed_icon='sagittarius/img/feed-icon-14x14.png' %}
<img class="feed" alt="[Atom Feed]"
     src="{{ request.scheme }}{% static feed_icon %}" />
{% endwith %}
</a></p>
</div>
</div>

<div class="topr">
<div class="security_check">
<!-- security validation: ensure for no information leaks over plain http -->
{% if request.user.is_authenticated %}
<div>You're logged in as <strong>{{ request.user.username }}</strong></div>
{% else %}
<!-- user authentication cookies not leaking -->
{% endif %}
{% if request.session.session_key %}
<div>The session is <em>{{ request.session.session_key }}</em></div>
{% else %}
<!-- session cookies not leaking -->
{% endif %}
</div>
</div>

<div class="nav" id="nav"><nav>
<ul class="navdiv">
  <li>
    <a href="{% url 'sagittarius_news' %}">home</a>
  </li>
{% for msec in menu_sections %}
  <li>
    <a href="{{ msec.get_absolute_url }}">{{ msec.title }}</a>
    {% site_entries msec.articles as msec_site_articles %}
    {% site_entries msec.links    as msec_site_links    %}
    <ul>
    {% for feat in msec_site_articles %}
      <li><a href="{{ feat.get_absolute_url }}">{{ feat.menu_entry }}</a></li>
    {% endfor %}
    {% for link in msec_site_links %}
      <li><a href="{{ link.get_absolute_url }}"
             target="_blank">{{ link.menu_entry }}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
</nav></div>

</header></div>  <!-- page_top -->
{% endblock %}

{% block page_main %}
<div id="page_main">
{% block toc %}
{% endblock %}

{% block content %}
{% endblock %}
</div>  <!-- page_main    -->
{% endblock %}

{% block page_bottom %}
<div class="footer" id="page_bottom"><footer class="fineprint">

<hr />

{% block copyright_footer %}
<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
  {% with by_sa='sagittarius/img/by-sa-88x31.png' %}
  <img class="button" alt="[Creative Commons Licence]"
       src="{{ request.scheme }}{% static by_sa %}" /></a>
  {% endwith %}
{{ site.context.copyright }}
</p>
<p>This page is licenced under a <a rel="license"
title="Creative commons page"
href="https://creativecommons.org/licenses/by-sa/4.0/">
Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</p>
<p>All code snippets are licenced under the <a rel="licence"
title="Free Software Foundation"
href="https://www.gnu.org/licenses/quick-guide-gplv3.html">
GNU GPL licence version 3, or (at your option) any later version of the
licence</a>.
</p>
<p>This page is text browser friendly (is yours?).</p>
{% endblock %}

</footer></div>  <!-- page_bottom -->
{% endblock %}

