{% extends "sagittarius/sagittarius.html" %}

{% load sagittarius_tags %}

{% block title %}
Search
{% endblock %}

{% block content %}
<h1>Search</h1>

<form method="get" action="{% url 'sagittarius_search' %}">

<p>
{{ form.query.label_tag}}: {{ form.query }}
<input type="submit" value="Search" />
{% if form.query.errors %}
<div>
  {% for error in form.query.errors %}
  <div class="form_error">{{ error|escape }}</div>
  {% endfor %}
</div>
{% endif %}
</p>

<p>
{{ form.search_title }}{{ form.search_title.label_tag }}
{{ form.search_body  }}{{ form.search_body.label_tag  }}
{{ form.search_tag   }}{{ form.search_tag.label_tag   }}
{{ form.search_case  }}{{ form.search_case.label_tag  }}
</p>

</form>

<hr />

{% if article_list %}
  {% if article_list.has_other_pages %}{% paginate_form %}{% endif %}
{% list_articles %}
  {% if article_list.has_other_pages %}{% paginate_form %}{% endif %}
{% else %}
  {% if query %}
<p>No results</p>
  {% else %}
<p>Type your query above</p>
  {% endif %}
{% endif %}

{% endblock %}

