{% extends "sagittarius/sagittarius.html" %}

{% block title %}
Prototype page
{% endblock %}

{% block toc %}
<div class="toc">
  <div>Contents</div>
  <ol>
<li><a href="#crash-asm">Crash course in x86 assembler</a></li>
<li>
  <a href="#h2">code</a>
  <ul>
    <li><a href="#minih">block 1</a></li>
    <li><a href="#minih">block 1</a></li>
  </ul>
</li>
<li><a href="#h2">code</a></li>
  </ol>
  <div>Other Formats</div>
  <ul>
<li><a href="proto/markdown">markdown</a></li>
<li><a href="proto/slides-pdf">Slides (in PDF)</a></li>
<li><a href="proto/slides-tex">LaTeX source for Slides</a></li>
  </ul>
</div>  <!-- toc -->
{% endblock %}

{% block content %}
<h1 id="syscall-asm">Basic assembler system calls in Linux</h1>

{% for s in menu_sections %}
<div>{{ s.slug }}</div>
  {% for e in s.entries.all %}
<div>{{ e.slug }}</div>
  {% endfor %}
<div>{{ site.name }}</div>
{% endfor %}

<hr />

<p>We will discuss how to make system calls to the Linux kernel directly from
machine code.  We will use assembler to produce the machine code, although
writing the machine code itself from it is just a matter of translation.
System calls in assembler are just nameless integers, and we will as well
understand how to find which number correspond to which system call.
</p>

{% for o in article_list %}
<div>This <strong>{{ o.slug }}</strong></div>
<div>{{ o.description }}</div>
<div>{{ o.get_absolute_url }}</div>
{% endfor %}

<div>This <strong>{{ section.slug }}</strong></div>
<div>{{ section.description }}</div>
<div>{{ section.get_absolute_url }}</div>
<div>{{ copyright }}</div>

<div id="page_content">
<h2 id="crash-asm">Crash course in x86 assembler</h2>

<p>Assembler is a simplified way of writing machine code,
</p>

<img alt="[Program Flow]" src="program-flow.png" />

<dl>
<dt><strong>BYTE</strong></dt>
  <dd>8 bits (0 or 1), the smaller piece of memory that can be accessed.</dd>
<dt><strong>WORD</strong></dt>
  <dd>Two bytes, i.e. 16 bits.  Although the term <em>word</em> is often used
to define the size of the <code>unsigned int</code> type on a machine - which
is 16 bits on a 16 bit processor, 32 bit on a 32 bit processor and so on - in
assembler a <em>word</em> is always referred as a piece of memory or register
that has 16 bits.
</dd>
<dt><strong>DWORD</strong></dt>
  <dd>A double word, or two words, or 4 bytes.  The same way as the
<em>word</em>, <em>dword</em> always has a size of 32 bits in assembler.
</dd>
<dt><strong>QWORD</strong></dt>
  <dd>A quad word, or two dwords, or 8 bytes.  In assembler it always has 64
bits.  Several assembler instructions do not work on <em>qwords</em>, with the
notable example of <code>push</code>, this is because there are no machine
instructions defined for such tasks.
</dl>

<p>This webpage is under construction.  Every webpage is always under
construction.  This text shall not stay behind the float.
</p>

<h2>Following all tags will be tested for CSS formatting</h2>

<p><em>CSS formatting</em> will give us </p>
<p><strong>CSS formatting</strong> will give us </p>

<p><a href="http://google.com" title="Google">link with title</a></p>

<p>text surrounding the image
<img src="valid_atom_88x31.png" alt="alt text" title="Title" />
on both sides
</p>

<ul>
<li>Keeping your privacy is hard today.</li>
<li>We will talk about a way of keeping your private messages private.</li>
<li>Email is very easy to spoof, it goes in clear text over the internet.</li>
<li>Moreover, email is trivial to interfere with.
  <ul>
  <li>If I control the email server you send your email through I can change
      your messages as I want.
  </li>
  <li>Even if I do not have access to that server I can still send email
      impersonating you.
  </li>
  </ul>
</li>
</ul>

<blockquote>
  <p>Blockquotes are sometimes useful, they're used to quote text from other
sources e.g. books tha i might be using as base for the information contained.
  </p>
</blockquote>

<p>literal backticks in <code>`code`</code>.</p>

<p>Using the file <code>/usr/include/asm/unistd_32.h</code> for syscall info.
</p>

<pre><code>[~]$ egrep '_write|_exit' /usr/include/asm/unistd_32.h
#define __NR_exit 1
#define __NR_write 4
#define __NR_writev 146
#define __NR_exit_group 252
#define __NR_process_vm_writev 348

[~]$ egrep '_write|_exit' /usr/include/asm/unistd_64.h
#define __NR_write 1
#define __NR_writev 20
#define __NR_exit 60
#define __NR_exit_group 231
#define __NR_process_vm_writev 311
</code></pre>

<pre><code>BITS 64

section  .data                      ; data segment
msg      db  "Hello, world!", 0x0a  ; the string and newline character

section  .text   ; text segment
global   _start  ; default entry point for ELF linking

_start:
; SYSCALL write(1, msg, 14)
  mov  rax, 1    ; write is syscall no. 1
  mov  rdi, 1    ; stdout
  mov  rsi, msg  ; address of the string
  mov  rdx, 14   ; length of string
  syscall

; SYSCALL exit(0)
  mov  rax, 60  ; exit is syscall no. 60
  mov  rdi, 0   ; success
  syscall
</code></pre>

<pre><code>BITS 32

section  .data                      ; data segment
msg      db  "Hello, world!", 0x0a  ; the string and newline character

section  .text   ; text segment
global   _start  ; default entry point for ELF linking

_start:
; SYSCALL write(1, msg, 14)
  mov  eax, 4    ; write is syscall no. 4
  mov  ebx, 1    ; stdout
  mov  ecx, msg  ; address of the string
  mov  edx, 14   ; length of string
  int 0x80       ; interrupt kernel

; SYSCALL exit(0)
  mov  eax, 1  ; exit is syscall no. 1
  mov  ebx, 0  ; success
  int 0x80     ; interrupt kernel
</code></pre>
<p>On 32bit and 64bit machines the system calls are performed in completely different ways.
</p>

<table>
  <caption>
    Registers on little endian architectures
  </caption>
  <thead>
    <tr>
      <th>64 bit register</th>
      <th>32 bit (lower left)</th>
      <th>16 bit (lower left)</th>
      <th>Lower left 8 bits</th>
      <th>Lower right 8 bits</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>rax</td>
      <td>eax</td>
      <td>ax</td>
      <td>al</td>
      <td>ah</td>
      <td>Accumulator</td>
    </tr>
    <tr>
      <td>rcx</td>
      <td>ecx</td>
      <td>cx</td>
      <td>cl</td>
      <td>ch</td>
      <td>Counter</td>
    </tr>
    <tr>
      <td>rdx</td>
      <td>edx</td>
      <td>dx</td>
      <td>dl</td>
      <td>dh</td>
      <td>Data</td>
    </tr>
    <tr>
      <td>rbx</td>
      <td>ebx</td>
      <td>bx</td>
      <td>bl</td>
      <td>bh</td>
      <td>Base</td>
    </tr>
    <tr>
      <td>rsp</td>
      <td>esp</td>
      <td>sp</td>
      <td>spl</td>
      <td>-</td>
      <td>Stack Pointer</td>
    </tr>
    <tr>
      <td>rsi</td>
      <td>esi</td>
      <td>si</td>
      <td>sil</td>
      <td>-</td>
      <td>Source Pointer</td>
    </tr>
    <tr>
      <td>rdi</td>
      <td>edi</td>
      <td>di</td>
      <td>dil</td>
      <td>-</td>
      <td>Destination Pointer</td>
    </tr>
    <tr>
      <td>r8</td>
      <td>r8d</td>
      <td>r8w</td>
      <td>r8b</td>
      <td>-</td>
      <td>8th register</td>
    </tr>
    <tr>
      <td>r9</td>
      <td>r9d</td>
      <td>r9w</td>
      <td>r9b</td>
      <td>-</td>
      <td>9th register</td>
    </tr>
    <tr>
      <td>r10</td>
      <td>r10d</td>
      <td>r10w</td>
      <td>r10b</td>
      <td>-</td>
      <td>10th register</td>
    </tr>
    <tr>
      <td>r11</td>
      <td>r11d</td>
      <td>r11w</td>
      <td>r11b</td>
      <td>-</td>
      <td>11th register</td>
    </tr>
    <tr>
      <td>r12</td>
      <td>r12d</td>
      <td>r12w</td>
      <td>r12b</td>
      <td>-</td>
      <td>12th register</td>
    </tr>
    <tr>
      <td>r13</td>
      <td>r13d</td>
      <td>r13w</td>
      <td>r13b</td>
      <td>-</td>
      <td>13th register</td>
    </tr>
    <tr>
      <td>r14</td>
      <td>r14d</td>
      <td>r14w</td>
      <td>r14b</td>
      <td>-</td>
      <td>14th register</td>
    </tr>
    <tr>
      <td>r15</td>
      <td>r15d</td>
      <td>r15w</td>
      <td>r15b</td>
      <td>-</td>
      <td>15th register</td>
    </tr>
    <tr>
      <td>rip</td>
      <td>eip</td>
      <td>dip</td>
      <td>-</td>
      <td>-</td>
      <td>Instruction Pointer (cannot be directly accessed)</td>
    </tr>
  </tbody>
</table>

</div>  <!-- page_content -->
{% endblock %}
