{% extends "sagittarius/sagittarius.html" %}

{% load sagittarius_tags %}

{% block title %}
{{ section.title }}
{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>

<p>{{ section.description }}</p>

<hr />

{% if article_list %}
  {% if is_paginated %}{% paginate_this %}{% endif %}
{% list_articles %}
  {% if is_paginated %}{% paginate_this %}{% endif %}
{% else %}
<p>There are no articles in this section yet, check often.</p>
{% endif %}

{% endblock %}

