<ul class="article_list">
  {% for a in article_list %}
  <li><div class="article"><article>
    <div class="header"><header>
    <h1 class="al_title">
      <a class="al_title" href="{{ a.get_absolute_url }}">{{ a.title }}</a>
    </h1>
    <div class="al_pub_date"><time datetime="{{ a.pub_date|date:'c' }}">
      {{ a.pub_date|date:'l, F jS o - g:iA' }}</time></div>
    </header></div>
    <div>{{ a.excerpt_html|safe }}</div>
    {% if a.tags %}
    <div class="footer"><footer><div class="tag_container">
      {% for t in a.tags.all %}
      <a class="tag" href="{{ t.get_absolute_url }}">{{ t.slug }}</a>
      {% endfor %}
    </div></footer></div>
    {% endif %}
  </article></div></li>
  {% endfor %}
</ul>

