<div class="pagination">
    {% if page_obj.has_previous %}
  <a class="page_prev"
     href="?{{ get_query }}&page={{ page_obj.previous_page_number }}">
    &lt; previous</a>
    {% endif %}
  <span class="page_of">
    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </span>
    {% if page_obj.has_next %}
  <a class="page_next"
     href="?{{ get_query }}&page={{ page_obj.next_page_number }}">
    next &gt;</a>
    {% endif %}
</div>

