{% extends "sagittarius/error/error.html" %}

{% block title %}
Ouch... 400
{% endblock %}

{% block content %}

<h1>Ouch... HTTP 400!</h1>

<h3>Your client did something nasty that it shouldn't be doing, poke it and try
again from the <a href="{% url 'sagittarius_news' %}">homepage</a>.
</h3>

{% endblock %}

