{% extends "sagittarius/error/error.html" %}

{% block title %}
Ouch... 403
{% endblock %}

{% block content %}

<h1>Ouch... HTTP 403!</h1>

<h3>We cannot allow you in there.</h3>

<p>If you're seeing this page you might have fallen for a cross-site scripting
attack!  But worry not, we caught it.
</p>

{% endblock %}

