{% extends "sagittarius/error/error.html" %}

{% block title %}
Ouch... 404
{% endblock %}

{% block content %}

<h1>Ouch... HTTP 404!</h1>

<h3>The penguin that was here disappeared.  He is still somewhere around, keep
searching.
</h3>

{% endblock %}

