{% extends "sagittarius/error/error.html" %}

{% block title %}
Ouch... 500
{% endblock %}

{% block content %}

<h1>Ouch... HTTP 500!</h1>

<h3>We screwed up badly, it is a server side problem!</h3>

<h3>Gnomes have been notified, and will start working on it right after they
finish their third breakfast.
</h3>

{% endblock %}

