{% extends "sagittarius/base.html" %}

{% load staticfiles %}

{% block page_top %}
<div class="header" id="page_top"><header>

<div id="accessibility_links">
<ul>
{% block extra_acc_links %}
{% endblock %}
  <li><a href="#page_main">Skip to content</a></li>
  <li><a href="#nav">Skip to navigation</a></li>
</ul>
</div>

<div class="topl">
<div class="terminal_logo">
{{ site.context.logo|safe }}
</div>
</div>

<div class="topr">
<div class="search_box">
<div class="qsearch">
<form method="get" action="{% url 'sagittarius_search' %}">
  <input type="text"  size="30"
         name="query" id="id_query" value="" placeholder="type your query" />
  <input type="hidden" id="id_search_title" name="search_title" value="on" />
  <input type="hidden" id="id_search_body"  name="search_body"  value="on" />
  <input type="submit" value="Quick Search" />
</form>
</div>
<p><a href="{% url 'sagittarius_search' %}"
      title="Advanced Search Options">Advanced Search</a></p>
<p><a href="{% url 'sagittarius_atom' %}" title="Atom Feed">
Atom Feed
<img class="feed" alt="[Atom Feed]"
     src="{% static 'sagittarius/img/feed-icon-14x14.png' %}" />
</a></p>
</div>
</div>

<div class="topr">
<div class="security_check">
<!-- security validation: ensure for no information leaks over plain http -->
{% if request.user.is_authenticated %}
<div>You're logged in as {{ request.user.username }}</div>
{% else %}
<!-- user authentication cookies not leaking -->
{% endif %}
{% if request.session.session_key %}
<div>The session is {{ request.session.session_key }}</div>
{% else %}
<!-- session cookies not leaking -->
{% endif %}
</div>
</div>

<div class="nav" id="nav"><nav>
<ul class="navdiv">
  <li>
    <a href="{% url 'sagittarius_news' %}">home</a>
  </li>
</ul>
</nav></div>

</header></div>  <!-- page_top -->
{% endblock %}

{% block page_main %}
<div id="page_main">

{% block content %}
{% endblock %}

<!-- TODO include some funny image here -->

</div>  <!-- page_main    -->
{% endblock %}

