/* general rules */
body { font-size        : 12pt;
       min-width        : 640px;
       color            : #121212;
       font-family      : sans-serif;
       background-color : #d6d6d6;
       margin           : 0.5em;
}
a  { text-decoration : none; }
a:link    { color : #029902; }
a:visited { color : #029902; }
a:hover   { text-decoration : underline; }
input[type=text] { border        : 1px solid #666666;
                   border-radius : 0.2em;
                   padding       : 0.2em;
}
input[type=text]:focus { border-color : black; }
input[type=submit] { border        : 1px solid black;
                     cursor        : pointer;
                     background    : none;
                     padding       : 0.1em;
                     border-radius : 0.2em;
}
.form_error { padding-left  : 1em;
              padding-right : 1em;
              color         : #f02020;
}

/* accessibility links at the top */
div#accessibility_links { display : none; }

/* html5 backward compatibility (note: hgroup is now dead) */
 article,aside,audio,canvas,details
,div.article,div.aside,div.audio,div.canvas
,figcaption,figure,footer,header
,div.figcaption,div.figure,div.footer,div.header
,hgroup,menu,nav,output,section,video
,div.nav,div.section,div.video { display : block;
                                 margin  : 0;
                                 padding : 0;
}
abbr,mark,meter,progress,time { display : inline
                                margin  : 0;
                                padding : 0;
}
datalist { display : none
           margin  : 0;
           padding : 0;
}

/* top of the page */
.topl { float : left;  }
.topr { float : right; }
.terminal_logo pre { background-color : #121212;
                     border           : 2px solid #737373;
                     color            : #fefefe;
                     font-family      : monospace;
                     display          : block;
                     font-size        : 0.5em;
}
.terminal_logo div { margin-left  : auto;
                     margin-right : auto;
}
.search_box { padding       : 0.5em;
              margin        : 0.5em;
              text-align    : center;
              font-size     : 0.7em;
}
.qsearch { border           : 1px solid #666666;
           padding          : 0.1em;
           background-color : #eeeeee;
           border-radius    : 0.2em;
}
.qsearch input[type=text] { border : none;
                            background-color : #eeeeee;
}
.qsearch input[type=text]:focus { background-color : #f6f6f6; }
.qsearch input[type=submit] { border           : none;
                              background-color : #d6d6d6;
                              border-radius    : 0;
}
img.feed { display : inline;
           border  : none;
}
.security_check { padding       : 0.5em;
                  margin        : 0.5em;
                  text-align    : right;
                  font-size     : 0.7em;
}

/* navigation menu */
.navdiv { clear         : both;
          list-style    : none;
          text-align    : center;
          border-bottom : 1px solid black;
          border-top    : 1px solid black;
          margin        : 0;
          padding       : 0;
          clear         : both;
}
.navdiv a:link    { color : #039f03; }
.navdiv a:visited { color : #039f03; }
.navdiv a:hover   { text-decoration : none; }
.navdiv li { display  : inline;
             position : relative;
             padding  : 0;
             border   : 0;
}
.navdiv li li { border : 0; }
.navdiv ul { position   : absolute;
             margin     : 0;
             padding    : 0;
             text-align : left;
             display    : none;
}
.navdiv a { padding          : 0.5em;
            display          : inline-block;
            background-color : #d6d6d6;
}
.navdiv ul li { display : block; }
.navdiv li:hover > ul { left    : 100%;
                        display : inline-block;
}
.navdiv > li:hover > ul { left    : 0;
                          display : block;
}
.navdiv li:hover > a { background-color : #c3c3c3; }
.navdiv ul a { border-bottom : 1px solid black;
               white-space   : nowrap;
             /*width         : 10em;*/  /* for more submenus */
}

/* javascript menu alternative */
/*
.menu_parent { position  : relative; }
.menu_child { position   : absolute;
              visibility : hidden;
              border     : 1px solid #c3c3c3;
              width      : 100%;
}
/*

/* right pane */
.toc { float            : right;
       border           : 1px solid black;
       margin           : 0.3em;
       padding          : 0.7em;
       max-width        : 33%;
       background-color : #d6d6d6;
}

/* tags */
.tag_container { padding-left  : 2em;
                 padding-right : 2em;
}
.tag { border           : 1px solid #539f53;
       border-radius    : 0.6em;
       display          : inline-block;
       padding-left     : 0.3em;
       padding-right    : 0.3em;
       margin-top       : 0.2em;
       background-color : #539f53;
}
.tag:link    { color : white; }
.tag:visited { color : white; }
.tag:hover   { text-decoration : none; }

/* article lists */
.al_title { padding : 0;
            margin  : 0;
}
.al_pub_date { font-weight : lighter;
               font-size   : 0.9em;
}
ul.article_list li { margin-top : 0.5em; }
ul.article_list li:nth-of-type(2n) { background-color : #c3c3c3; }

/* pagination */
.pagination { text-align : center; }
.page_of { background-color : #c3c3c3;
           padding          : 0.1em 1em;
           margin           : 0.1em 0.5em;
           border-radius    : 0.2em;
}
.page_prev { background-color : #c3c3c3;
             margin           : 0;
             padding          : 0.1em 0.5em 0.1em 1em;
             border-radius    : 0.6em 0.2em 0.2em 0.6em
}
.page_next { background-color : #c3c3c3;
             margin           : 0;
             padding          : 0.1em 1em 0.1em 0.5em;
             border-radius    : 0.2em 0.6em 0.6em 0.2em
}
.page_prev:hover,.page_next:hover { text-decoration  : none;
                                    background-color : #a3a3a3;
}

/* bottom of page or article */
.fineprint { font-size : 0.7em;
             clear     : both;
}
img.button { border  : 0;
             height  : 31px;
             display : inline;
}

/* main content of the page */
#page_content a:visited { color : #1e9e83; }

img { border       : 0;
      display      : block;
      margin-left  : auto;
      margin-right : auto;
}

code { font-family : monospace;
       font-size   : 1.1em;
       font-weight : bold;
}
pre { background-color : #303030;
      border-top       : 0.2em solid #a3a3a3;
      border-bottom    : 0.2em solid #a3a3a3;
      color            : #fefefe;
      font-family      : monospace;
      display          : inline-block;
      font-size        : 0.8em;
      padding          : 0.6em;
}
pre code { font-weight : normal; }

blockquote { border-left  : 0.5em solid #c3c3c3;
             padding-left : 0.5em;
             font-weight  : lighter;
}

ul { list-style : none outside; }
ol { list-style : decimal outside; }
li { padding-left   : 0.3em;
     padding-top    : 0.1em;
     padding-bottom : 0.6em;
     border         : 0;
}
li li { border-left : 1px solid black; }

dt { font-size   : 1.1em;
     padding-top : 0.6em;
}
dd { margin-left : 2em; }

caption { caption-side : bottom;
          font-size    : 0.9em;
          padding      : 0.2em;
}
table { border-collapse : collapse;
        border-bottom   : 1px solid black;
        font-family     : monospace;
}
thead { border-bottom : 1px solid black; }
th { padding : 0.5em; }
thead tr { background-color : #c3c3c3;
           text-align       : left;
}
tr:nth-child(2n) { background-color : #c3c3c3; }
td { text-align : right;
     padding    : 0.2em 0.5em;
}
td:first-child { text-align : left; }

